<%= render :partial => "shared/instruct" %>

<%= form_tag double_index_path, :id => 1 do %>
  <% if @translation %>
<table border=0><tr>
<%
thisline = @line_length
@split_english.each_with_index do |s, i|
%>
<td><%= s %><br><span class="<%= double_classes(@split_english[i], @split_translation[i]) %>"><%= @split_translation[i] %></span></td>
<% 

thisline -= (s.length + 1)
if thisline < 0
  thisline = @line_length
%>
</table><table border=0><tr>
<% 
end

end 
%>
</tr></table>
  <% end %>

  <p>
    <%= label_tag :english %><br />
    <%= text_area_tag :english, @english, :cols => 100, :rows => 20 %>
  </p>
  <p>
    <%= submit_tag "Translate" %> 
  </p>
<% end %>
<pre>
<% Conversion.find_by_sql(['select * from conversions where user_id = ?', params[:export]]).each do |conversion| %>
<%= "#{conversion.english},#{conversion.phonetic},#{conversion.level}" %>
<% end %>

