<% title "Dictionary" %>
<%= form_for @conversion_search, :url => conversions_path, :html => {:method => :get} do |f| %>
<p>Search: <%=f.text_field :query %></p>
<p>Search Type: <%=f.select :search_type, search_types %></p>
<p>Search in phase: <%= f.select :level,  levels %></p>
<p><%=f.submit "Search", :name => nil%></p>

<p>Found <strong><%=@conversion_search.conversions.total_entries%></strong> result(s)</p>
<p><%=will_paginate @conversion_search.conversions%></p>

<table>
  <tr>
    <th>Owner</th>
    <th>English</th>
    <th>Phonetic</th>
    <th></th>
    <th></th>
    <th>-</th>
    <% (1..8).each do |i| %>
      <th><%= i %></th>
    <% end %>
  </tr>
  <% for conversion in @conversion_search.conversions %>
    <tr>
      <td><%= conversion.user.username %></td>
      <td><%=h conversion.english %></td>
      <% if is_admin || conversion.user == current_user %>
        <td><%= text_field_tag conversion.id, conversion.phonetic %></td>
        <td><%= link_to "Edit", edit_conversion_path(conversion) %></td>
        <td><%= link_to "Delete", conversion, :confirm => 'Are you sure?', :method => :delete %></td>
        <% (0..8).each do |i| %>
          <td align=center><%= radio_button "#{conversion.id}-phase", 'level', i > 0 ? i : nil, :class => "r#{i}", :checked => conversion.level == i || (conversion.level == nil && i == 0)%></td>
        <% end %>
      <% else %>
        <td><%=h conversion.phonetic %></td>
      <% end %>
    </tr>
  <% end %>
  <td colspan="5"></td>
  <% (0..8).each do |i| %>
    <td><%= button_to_function "All", "$('.r#{i}').prop('checked',true)" %></td>
  <% end  %>
</table>

<% if is_editor %>
<%= f.submit "Save all changes above", :name => 'save' %>
<% end %>

<% end %>
<p><%=will_paginate @conversion_search.conversions%></p>

<p><%= link_to "New entry", new_conversion_path %></p>
