  <p>
    <%= form.label :username %><br />
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %><br />
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation %>
  </p>

  <% if current_user && current_user.is_admin? %>
    <p>
      <%= form.label :is_editor, 'Editor?' %><br />
      <%= form.check_box :is_editor %>
    </p>
    <p>
      <%= form.label :is_admin, 'Admin?' %><br />
      <%= form.check_box :is_admin %>
    </p>
  <% end %>
  <p><%= form.submit %></p>
