<%= form_tag translate_index_path, :id => 1 do %>
  <% if !current_user || current_user.anonymous? %>
    <%= select_tag "level", options_for_select([["All phases", ""]] + (1..8).map{|i| [i,i]}, session[:level]) %>
  <% end %>

  <%= render :partial => "shared/instruct" %>

  <% if @translation %>
    <p>
      <%= label_tag :phonetic %>
    </p>
    <p>
      <%= @translation %>
    </p>
  <% end %>

  <p>
    <%= label_tag :english %><br />
    <%= text_area_tag :english, @english, :cols => 100, :rows => 20 %>
  </p>
  <p>
    <%= submit_tag "Translate" %> 
  </p>
<% end %>
