<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
    <%= javascript_include_tag "jquery-1.7.min", "jquery_ujs", "rails" %>
  </head>
  <body onload="x = document.getElementById('conversion_english');if (x && x.value == '') x.focus();">
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
          <%= link_to "Edit profile", my_info_path %> |
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Admin sign-in", login_path %>
        <% end %>
      </div>
      
      <% if demonstrating? %>
        <%= link_to_if !translating?, "Conversion", translate_index_path, :onclick => "document.getElementById('1').submit(); return false;" %>
        <%= link_to_if !doubling?, "Double-line", double_index_path, :onclick => "document.getElementById('1').submit(); return false;" %>
      <% else %>
        <%= link_to_unless_current "Conversion", translate_index_path %>
        <%= link_to_unless_current "Double-line", double_index_path %>
        <% session[:current] = nil %>
      <% end %>
      <% if current_user %>
        <%= link_to_unless_current "Dictionary", conversions_path %>
        <%= link_to_unless_current "Samples", samples_path %>
        <%= link_to_unless_current "Books", books_path %>
        <%= link_to_unless_current "Users", users_path if current_user.is_admin? %>
      <% end %>

      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <p>
      <% if current_user %>
        Use dictionary:
        <%= select_tag "dictionary",
                       options_for_select(User.editors.map{|u| [u.email,u.id]}, current_user.dictionary_user_id),
                       :include_blank => true,
                       :onchange => "window.location.href = '/conversions/?dictionary=' + $('#dictionary').val();" %>
      Choose phase:
      <%= select_tag "level",
                     options_for_select([["All phases", ""]] + (1..8).map{|i| [i,i]}, current_user.try(:level)),
                     :onchange => "window.location.href = '/conversions/?level=' + $('#level').val();" %>

      <% end %>
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
  </body>
</html>
